language: python
os: linux
python:
  - "3.9"
services:
  - docker
install:
  - pip install pylint pytype yapf -r requirements.txt
  -  # TODO(jeanralphaviles): Remove when Travis' Ruby is updated.
  - gem install chef-utils -v 16.6.14
  - gem install mdl
script:
  - docker build -t jraviles/prometheus_speedtest:latest .
  - docker run --rm jraviles/prometheus_speedtest:latest --version
  # Issue #19
  - python -c 'from prometheus_speedtest import prometheus_speedtest as p; p.FLAGS.version = True; p.init()'
  - pylint **/*.py
  - pytest
  - pytype
  - yapf -d **/*.py
  - mdl README.md
