name: deploy
on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  attestations: write
  contents: read
  id-token: write

jobs:
  pypi-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
            python-version: 3.x
            cache: pip
      - name: Install Dependencies
        run: pip install -r requirements.txt -r requirements-dev.txt
      - name: Build
        run: python setup.py sdist
      - name: Upload Distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    needs:
      - pypi-build
    environment:
      name: pypi
      url: https://pypi.org/p/prometheus-speedtest
    steps:
      - name: Retrieve Distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/
      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
          print-hash: true
          skip-existing: true

  docker-build-push:
    runs-on: ubuntu-latest
    environment:
      name: dockerhub
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: false
      - name: Push
        if: github.ref_type == 'tag'
        id: push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: jraviles/prometheus_speedtest:latest,jraviles/prometheus_speedtest:${{ github.ref_name }}
      - name: Generate Artifact Attestation
        if: github.ref_type == 'tag'
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
